body h1 {
    font-size: 20px;
    text-align: center;
}

body h2 {
    font-size: 50px;
    text-align: center;
    color: dodgerblue;
}s

body h3 {
    font-size: 30px;
    text-align: center;
    color: #fc4300de;
}

body h4 {
    font-size: 20px;
    text-align: center;
}

.boton {
    cursor: pointer;
}

